/* Meeting.scss */
.meeting-page {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #2d85f9;
  border-right: 1px solid #dee2e6;
}

.meeting-content {
  flex: 1;
  padding: 20px;
}

.data-box {
  background-color: #e9ecef;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.data-box h5 {
  margin-bottom: 15px;
}

.data-box ul {
  list-style-type: none;
  padding: 0;
}

.data-box li {
  margin-bottom: 10px;
}

.table-responsive {
  margin-top: 20px;
}

.alert {
  margin-top: 20px;
}
